@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.App-logo {
  height: 7vmin;
  margin-right: 1vw;
  text-shadow: 1px 1px 1px 1px black;
}

.bg-image {
  background-image: url('/src/assets/background.png');
  height: 40rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

.foot-icon{
  width: 32px;
}

/* Animazioni */

.item-sliding-up {
  animation: itemEnteringUp 1.5s ease-out forwards;
}

@keyframes itemEnteringUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}